<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="../styling/loginPage.css"> -->
    <title>Login</title>

    <link rel="apple-touch-icon" sizes="180x180" href="../images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.png">
    <link rel="icon" href="../images/favicon.ico" />
    <link href="../Styling/login.css" rel="stylesheet" type="text/css">
    

</head>

<body>
    <div class="box">
        <img id="logoOnLogin" src="../images/safezonelogo_2.png">
        <input type="button" value="SIGN-IN" id="loginInBtn" data-toggle="modal" data-target="#signInModal">
        <input type="button" value="SIGN-UP" id="signUpBtn" data-toggle="modal" data-target="#signUpModal">
    </div>

    <!-- Modal For SignUp-->
    <div class="modal" id="signUpModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <img id="logoModal" src="../images/safezonelogo_2.png">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form class="signTextFields" id="signupform">
                        <input name="emailInput" id="newEmail" type="email" class="modalInput" placeholder="Email">
                        <input name="usernameInput" id="newUsername" type="text" class="modalInput" placeholder="Username">
                        <input name="passwordInput" id="newPassword" type="password" class="modalInput" placeholder="Password">
                        <input type="button" id="signupBtn" value="SIGN-UP">
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal For SignUp-->
    <div class="modal" id="signInModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <img id="logoModal" src="../images/safezonelogo_2.png">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form class="signTextFields" id="signinform">
                        <input name="usernameInput" id="oldUsername" type="text" class="modalInput" placeholder="Username">
                        <input name="passwordInput" id="oldPassword" type="password" class="modalInput" placeholder="Password">
                        <input type="button" id="signinBtn" value="SIGN-IN">
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <script>
        //When the signup button is pressed
        $("#signupBtn").on("click", data => {
          // let email = document.getElementById("newEmail").value;
          // if (!email.endsWith(".com") || /.+@.+.com/.test(email)) {
          //   alert("Please enter a valid email address");
          //   return;
          // }
            // console.log($("#signupform").serialize())
            //send a post reuqest to signup and set the username in the localstorage aswell as the hashed password
            $.ajax({
                url: '/ejs/signup/',
                type: "POST",
                data: $("#signupform").serialize(),
                success: res => {
                    if(res.success){
                        //set local storage to username and redirect to myAccount
                        localStorage.setItem("username", $('#newUsername').val());
                        localStorage.setItem("password", res.password);
                        window.location.href = "/HTML-shell/main.html"
                    // if the user already exists send error message
                    }else{
                        alert(res.error)
                    }
    
                }
            });
        })
        //when the sign is button is pressed
        $("#signinBtn").on("click", data => {
            $.ajax({
                //send a post request to signin
                url: '/ejs/signin/',
                type: "POST",
                data: $("#signinform").serialize(),
                success: res => {
                    if(res.success){
                      console.log("success");
                        //set local storage to username and redirect to myAccount
                        localStorage.setItem("username", $('#oldUsername').val());
                        localStorage.setItem("password", res.password);
                        window.location.href = "/HTML-shell/main.html";
                     // if the data is incorrect send error message   
                    }else{
                        alert(res.error)
                    }
    
                }
            });
        })

    </script>
</body>

</html>