<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="-16x16.png">
    <link rel="icon" href="favicon.ico"/>

    <style>
        body{
            margin: 0;
            padding: 0;
            
        }
        .outerBox {
            position: absolute;
            width: 300px;
            height: 530px;
            padding: 40px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
        .innerBox {
            position: absolute;
            width: 300px;
            height: 350px;
            padding: 40px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            background-color: #3aa89b;
            z-index: -1;
            border: 3px solid rgb(81, 198, 161);
        }
        #profPic {
            width: 100px;
            height: 100px;
        }
        #backgroundImg {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.6;
            z-index: -2;
        }
    </style>
</head>
<body>
    <div class="outerBox">
        <img id="profPic" src="usericon.png">
        <div class="innerBox">
            <h2 id="profUsername">Username</h2>
            <br>
            <div id="userInfo">
                <h4>Highest Score: <span id="userHighScore">150</span></h4>
            </div>
        </div>
    </div>
    <img id="backgroundImg" src="backgroundimagevirus.png">

</body>
</html>