body {
  margin: 0;
  padding: 0;
}

.box {
  position: absolute;
  width: 300px;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.box input[type="button"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid rgb(81, 198, 161);
  padding: 14px 40px;
  border-radius: 30px;
  transition: 0.25s;
  cursor: pointer;
}

#loginInBtn {
  background-color: rgb(81, 198, 161);
}

.box input[type="button"]:hover {
  background: #51c6a1;
  box-shadow: 0 39px 80px rgba(0, 0, 0, 0.51);
  transform: translateY(-3px);
}

.box input[type="button"]:active {
  transform: scale(0.9);
}

.box input[type="button"]:focus {
  outline: none;
}

.submitBtn {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid rgb(81, 198, 161);
  padding: 7px 40px;
  border-radius: 30px;
  transition: 0.25s;
  cursor: pointer;
}
.submitBtn:hover {
  background: #51c6a1;
}

.submitBtn:focus {
  outline: none;
}

#logoOnLogin {
  width: 500px;
  height: 200px;
  margin-left: -125px;
  /* margin: auto; */
}

#logoModal {
  width: 250px;
  height: 100px;
  margin-left: auto;
}

.modalInput {
  width: 50%;
  display: block;
  margin: 20px auto;
  border: 1px solid grey;
  border-radius: 5px;
  padding-left: 5px;
}

.modalInput:focus {
  border: 2px solid rgb(55, 189, 212);
  outline: none;
}

body {
  background-color: #f0f5fa;
}

.cube,
.cube * {
  position: absolute;
  width: 100px;
  height: 100px;
}

.sides {
  transform-style: preserve-3d;
  perspective: 600px;
}

.front {
  transform: rotateY(0deg) translateZ(50px);
}
.back {
  transform: rotateY(-180deg) translateZ(50px);
}
.left {
  transform: rotateY(-90deg) translateZ(50px);
}
.right {
  transform: rotateY(90deg) translateZ(50px);
}
.top {
  transform: rotateX(90deg) translateZ(50px);
}
.bottom {
  transform: rotateX(-90deg) translateZ(50px);
}
