<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    #logout {
      display: none;
    }

  </style>
</head>

<body>


  <script>
    window.fbAsyncInit = function () {
      FB.init({
        appId: '1498328333675095',
        cookie: true,
        xfbml: true,
        version: 'v7.0'
      });

      // Checks to see if user is logged into facebook
      FB.getLoginStatus(function (response) {
        statusChangeCallback(response);
      });

    };

    // Checks for login state 
    function checkLoginState() {
      FB.getLoginStatus(function (response) {
        statusChangeCallback(response);
      });
    }

    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) { return; }
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function statusChangeCallback(response) {
      if (response.status == 'connected') {
        console.log('user is logged in');
        setElements(true);
      } else {
        console.log('no user currently logged in');
        setElements(false);
      }
    }

    // Displays Facebook button elements
    function setElements(isLoggedIn) {
      if (isLoggedIn) {
        document.getElementById('fbLoginBtn').style.display = "none";
        document.getElementById('fbLogoutBtn').style.display = "block";
      } else {
        document.getElementById('fbLoginBtn').style.display = "block";
        document.getElementById('fbLogoutBtn').style.display = "none";
      }
    }

    // Logout function
    function fbLogout() {
      FB.logout(function (response) {
        setElements(false);
      });
    }


  </script>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&autoLogAppEvents=1&version=v7.0&appId=1498328333675095"></script>

  <div id="fbLoginBtn">
    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
    </fb:login-button>
  </div>

  <div id="fbLogoutBtn">
    <input id="fbLogoutBtn" type="button" onclick="fbLogout()" value="logout">
  </div>

  <br>
  
  <div id="fbShareBtn">
  <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"
    data-size="small"><a target="_blank"
      href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse"
      class="fb-xfbml-parse-ignore">Share</a></div>
  </div>

  </div>
</body>

</html>