.tooltiptext {
    visibility: hidden;
    background-color: #53C6A2;
    color: black;
    position: absolute;
    z-index: 1;
    border-radius: 25px;
    width: 20%;
    text-align: center;
    border: black solid 1px;
}

#hover:hover .tooltiptext {
    visibility: visible;
}
body{
    background-color: #056A8B;
}
b{
    font-weight:bold;
    font-style: normal;
}