body{
    background-color: darkgray;
}

#logo{
    text-align: center;
    margin-bottom: -100px;
}

.buttonHolder {
    text-align: center;
}

.button {
    margin-left: 42%;
    display: block;
    margin-bottom: 10px;
    border-radius: 30px;
    border-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: white;
    background-color: rgb(78, 78, 78);
    text-align: center;
    transition: all 0.2s;
    height: 60px;
    width: 250px;
}